body {
  font-family: 'Cairo', sans-serif;
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.navigation .nav {
  width: 100%;
  padding: 10px 0;
}

.navigation .nav .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav .logo img {
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fff;
}

@media screen and (max-width: 576px) {
  .navigation .nav .logo img {
    height: 40px;
  }
}

.navigation .nav .logo a {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .navigation .nav .logo a {
    font-size: 18px;
  }
}

.navigation .nav .nav-list {
  padding: 10px 0;
  margin-right: auto;
  text-align: left;
}

.navigation .nav .nav-list.show {
  display: block;
}

.navigation .nav .nav-list li {
  display: inline-block;
  padding: 5px 20px;
}

.navigation .nav .nav-list li a {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation .nav .nav-list li a:hover {
  color: #89BA4F;
}

@media screen and (max-width: 576px) {
  .navigation .nav .nav-list {
    position: absolute;
    left: 0;
    top: 62px;
    width: 100%;
    display: none;
    background: #4caf50ab;
    text-align: right;
  }
  .navigation .nav .nav-list li {
    display: block;
  }
  .navigation .nav .nav-list li a {
    font-size: 13px;
    padding: 10px 0;
  }
}

.navigation .nav.fixed {
  position: fixed;
  top: 0;
  background: linear-gradient(45deg, rgba(0, 83, 132, 0.9) 45%, rgba(167, 211, 35, 0.9) 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.navigation .nav.fixed ul li a {
  font-size: 13px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation .nav.fixed ul li a:hover {
  color: #89BA4F;
}

.navigation .nav.fixed .logo a {
  font-size: 25px;
}

@media screen and (max-width: 576px) {
  .navigation .nav.fixed .logo a {
    font-size: 15px;
  }
}

.navigation .nav .toggle-menu {
  color: #fff;
  font-size: 25px;
  margin-right: auto;
  display: none;
}

@media screen and (max-width: 576px) {
  .navigation .nav .toggle-menu {
    display: block;
  }
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../imgs/bg.webp");
  background-position: 0 45%;
  background-size: cover;
}

.header .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(0, 83, 132, 0.9) 45%, rgba(167, 211, 35, 0.9) 100%);
  opacity: 0.7;
}

.header .head-info {
  width: 90vw;
  height: 80vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .header .head-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.header .head-info .hero {
  width: 50%;
  height: 100%;
  background: url("../imgs/hero.webp");
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .header .head-info .hero {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90vw;
    height: 45%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .header .head-info {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header .offers {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20px;
}

.header .offers .offer {
  text-align: center;
  line-height: 80px;
  margin-bottom: 5px;
}

.header .offers .offer p {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.header .offers .offer-one {
  width: 70%;
  height: 80px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: cadetblue;
}

.header .offers .offer-one p {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.header .offers .offer-two {
  width: 90%;
  height: 80px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background-color: chocolate;
}

.header .offers .offer-two p {
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.header .offers .offer-three {
  width: 50%;
  height: 80px;
  background-color: crimson;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  margin-right: auto;
  margin-left: 60px;
}

.header .offers .offer-three p {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

@media screen and (max-width: 576px) {
  .header .offers {
    width: 100%;
    height: 50%;
  }
  .header .offers .offer {
    height: 60px;
    line-height: 60px;
  }
  .header .offers .offer p {
    font-size: 15px !important;
  }
}

.about .about-container {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.about .about-container h2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  color: #005384;
}

.about .about-container h2::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
}

.about .about-container h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -60px;
}

@media screen and (max-width: 576px) {
  .about .about-container h2 {
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
  }
  .about .about-container h2::after {
    width: 25px;
    right: -35px;
  }
  .about .about-container h2::before {
    width: 25px;
    left: -35px;
  }
}

.about .about-container p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 100px;
  color: #333;
}

@media screen and (max-width: 576px) {
  .about .about-container p {
    font-size: 12px;
  }
}

.about .about-container .about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-container .about-inner .about-items {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 576px) {
  .about .about-container .about-inner .about-items {
    width: 95%;
  }
}

.about .about-container .about-inner .about-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}

.about .about-container .about-inner .about-items .item:nth-child(2) i {
  background-color: #f1c40f;
}

.about .about-container .about-inner .about-items .item:nth-child(2) h4 {
  color: #f1c40f;
}

.about .about-container .about-inner .about-items .item:nth-child(3) i {
  background-color: #2ecc71;
}

.about .about-container .about-inner .about-items .item:nth-child(3) h4 {
  color: #2ecc71;
}

.about .about-container .about-inner .about-items .item:nth-child(4) i {
  background-color: #8e44ad;
}

.about .about-container .about-inner .about-items .item:nth-child(4) h4 {
  color: #8e44ad;
}

.about .about-container .about-inner .about-items .item i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 20px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 40px;
  border-radius: 10%;
}

@media screen and (max-width: 576px) {
  .about .about-container .about-inner .about-items .item i {
    font-size: 30px;
  }
}

.about .about-container .about-inner .about-items .item span {
  display: inline-block;
  text-align: right;
  margin-right: 20px;
}

.about .about-container .about-inner .about-items .item span h4 {
  font-size: 25px;
  font-weight: 400;
  color: #e74c3c;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .about .about-container .about-inner .about-items .item span h4 {
    font-size: 15px;
  }
}

.about .about-container .about-inner .about-items .item span p {
  font-size: 15px;
  margin-bottom: 0;
  color: #333;
}

@media screen and (max-width: 576px) {
  .about .about-container .about-inner .about-items .item span p {
    font-size: 12px;
  }
}

.about .about-container .about-img {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .about .about-container .about-img {
    display: none;
  }
}

.about .about-container .about-img img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.call-us {
  position: relative;
  height: 200px;
  margin-top: 50px;
  background: url("../imgs/s.webp");
  background-size: cover;
  background-attachment: fixed;
}

.call-us .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.call-us .callus-info {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  text-align: center;
  color: #fff;
}

.call-us .callus-info h4 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .call-us .callus-info h4 {
    font-size: 18px;
  }
}

.call-us .callus-info p {
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (max-width: 576px) {
  .call-us .callus-info p {
    font-size: 12px;
  }
}

.call-us .callus-info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.call-us .callus-info span h6 {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
}

.call-us .callus-info span h6 i {
  margin-left: 5px;
  font-size: 16px;
}

.one-day {
  margin-top: 100px;
}

.one-day .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.one-day .container h2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 100px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  color: #005384;
}

.one-day .container h2::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
}

.one-day .container h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -60px;
}

@media screen and (max-width: 576px) {
  .one-day .container h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .one-day .container h2::after {
    width: 25px;
    right: -35px;
  }
  .one-day .container h2::before {
    width: 25px;
    left: -35px;
  }
}

.one-day .container .all-trips {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .one-day .container .all-trips {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.one-day .container .all-trips .trip {
  position: relative;
  width: calc(80% / 3);
  height: 550px;
  margin-right: 30px;
  padding-bottom: 20px;
  border-radius: 3px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 576px) {
  .one-day .container .all-trips .trip {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

.one-day .container .all-trips .trip:hover {
  -webkit-transform: translate(2%, 2%);
          transform: translate(2%, 2%);
}

.one-day .container .all-trips .trip .card-img {
  background-size: cover;
  height: 45%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.one-day .container .all-trips .trip .card-info {
  position: absolute;
  top: 32%;
  right: 5%;
  width: 60%;
  padding: 5px 10px;
  opacity: 0.8;
  text-align: right;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.one-day .container .all-trips .trip .card-info p {
  font-size: 25px;
  font-weight: 400;
  padding: 0;
  color: #fff;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.one-day .container .all-trips .trip .card-info p:last-child {
  margin-right: 30px;
}

.one-day .container .all-trips .trip .card-info-one,
.one-day .container .all-trips .trip .details-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.one-day .container .all-trips .trip .card-info-two,
.one-day .container .all-trips .trip .details-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.one-day .container .all-trips .trip .card-info-three,
.one-day .container .all-trips .trip .details-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.one-day .container .all-trips .trip .card-one {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../imgs/c-1.webp);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../imgs/c-1.webp);
}

.one-day .container .all-trips .trip .card-two {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../imgs/c-2.webp);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../imgs/c-2.webp);
}

.one-day .container .all-trips .trip .card-three {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../imgs/c-3.webp);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../imgs/c-3.webp);
}

.one-day .container .all-trips .trip .trip-info {
  text-align: center;
  margin-top: 60px;
}

.one-day .container .all-trips .trip .trip-info li {
  width: 70%;
  margin: auto;
  padding: 10px 0;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #eee;
}

.one-day .container .all-trips .trip .details {
  display: inline-block;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  background-color: #5643fa;
  border-radius: 5px;
}

.reviews {
  margin: 100px 0;
  text-align: center;
}

.reviews h2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 100px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  color: #005384;
}

.reviews h2::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
}

.reviews h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -60px;
}

@media screen and (max-width: 576px) {
  .reviews h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .reviews h2::after {
    width: 25px;
    right: -35px;
  }
  .reviews h2::before {
    width: 25px;
    left: -35px;
  }
}

.reviews .swiper-container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.reviews .swiper-container .swiper-slide {
  text-align: center;
  height: 350px;
  position: relative;
  overflow: visible;
}

.reviews .swiper-container .swiper-slide .review {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 83%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.reviews .swiper-container .swiper-slide .review p {
  width: 80%;
  margin: auto;
  line-height: 1.5;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #333;
}

.reviews .swiper-container .swiper-slide .review span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
  color: #fb9300;
  font-size: 20px;
}

.reviews .swiper-container .swiper-slide img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 90px;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.summer-offers {
  margin-top: 100px;
}

.summer-offers .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summer-offers .container h2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 100px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  color: #005384;
}

.summer-offers .container h2::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
}

.summer-offers .container h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -60px;
}

@media screen and (max-width: 576px) {
  .summer-offers .container h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .summer-offers .container h2::after {
    width: 25px;
    right: -35px;
  }
  .summer-offers .container h2::before {
    width: 25px;
    left: -35px;
  }
}

.summer-offers .container .all-trips {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .summer-offers .container .all-trips {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.summer-offers .container .all-trips .trip {
  position: relative;
  width: calc(80% / 3);
  height: 550px;
  margin-right: 30px;
  padding-bottom: 20px;
  border-radius: 3px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 576px) {
  .summer-offers .container .all-trips .trip {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

.summer-offers .container .all-trips .trip:hover {
  -webkit-transform: translate(2%, 2%);
          transform: translate(2%, 2%);
}

.summer-offers .container .all-trips .trip .card-img {
  background-size: cover;
  height: 45%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.summer-offers .container .all-trips .trip .card-info {
  position: absolute;
  top: 32%;
  right: 5%;
  width: 60%;
  padding: 5px 10px;
  opacity: 0.8;
  text-align: right;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

.summer-offers .container .all-trips .trip .card-info p {
  font-size: 25px;
  font-weight: 400;
  padding: 0;
  color: #fff;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.summer-offers .container .all-trips .trip .card-info p:last-child {
  margin-right: 30px;
}

.summer-offers .container .all-trips .trip .card-info-one,
.summer-offers .container .all-trips .trip .details-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.summer-offers .container .all-trips .trip .card-info-two,
.summer-offers .container .all-trips .trip .details-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.summer-offers .container .all-trips .trip .card-info-three,
.summer-offers .container .all-trips .trip .details-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.summer-offers .container .all-trips .trip .card-one {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../imgs/01.webp);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../imgs/01.webp);
}

.summer-offers .container .all-trips .trip .card-two {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../imgs/02.webp);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../imgs/02.webp);
}

.summer-offers .container .all-trips .trip .card-three {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../imgs/03.webp);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../imgs/03.webp);
}

.summer-offers .container .all-trips .trip .trip-info {
  text-align: center;
  margin-top: 60px;
}

.summer-offers .container .all-trips .trip .trip-info li {
  width: 70%;
  margin: auto;
  padding: 10px 0;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #eee;
}

.summer-offers .container .all-trips .trip .details {
  display: inline-block;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  background-color: #5643fa;
  border-radius: 5px;
}

.subscribe {
  position: relative;
  height: 200px;
  margin-top: 100px;
  padding-top: 50px;
  background: url("../imgs/s2.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .subscribe {
    display: none;
  }
}

.subscribe .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(0, 83, 132, 0.9) 45%, rgba(167, 211, 35, 0.9) 100%);
  opacity: 0.7;
}

.subscribe .sub-container {
  position: absolute;
  z-index: 5;
}

.subscribe .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe h3 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.subscribe form {
  margin-top: 50px;
  width: 100%;
  margin: auto;
}

.subscribe form input:not(:last-child) {
  width: calc(70% / 3);
  height: 40px;
  border: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 5px;
  border-bottom: 0.5px solid #89BA4F;
  margin-left: 20px;
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.subscribe form input:not(:last-child):focus {
  border-color: #005384;
}

.subscribe form button {
  width: 17%;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: #89BA4F;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subscribe form button:hover {
  background-color: #005384;
}

.teamwork {
  margin-top: 100px;
  background: linear-gradient(45deg, rgba(0, 83, 132, 0.9) 45%, rgba(167, 211, 35, 0.9) 100%);
  text-align: center;
  padding: 30px 0;
}

.teamwork h2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 100px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.teamwork h2::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
}

.teamwork h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #89BA4F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -60px;
}

.teamwork .persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .teamwork .persons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.teamwork .persons .person {
  position: relative;
  width: calc(90% / 6);
  height: 160px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 576px) {
  .teamwork .persons .person {
    width: 100%;
    margin-bottom: 20px;
  }
}

.teamwork .persons .person.person-one {
  background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.teamwork .persons .person.person-two {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.teamwork .persons .person.person-three {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.teamwork .persons .person.person-four {
  background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.teamwork .persons .person.person-five {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.teamwork .persons .person.person-six {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.teamwork .persons .person .team-img {
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
  padding: 3px;
  background-color: #eee;
  border-radius: 50%;
}

.teamwork .persons .person .team-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamwork .persons .person span {
  display: block;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.teamwork .persons .person span h4 {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.teamwork .persons .person span h4:first-child {
  margin-bottom: 10px;
}

.teamwork .persons .person .team-social {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
}

@media screen and (max-width: 576px) {
  .teamwork .persons .person .team-social {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    left: 100%;
  }
}

.teamwork .persons .person .team-social i {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .teamwork .persons .person .team-social i {
    display: block;
    margin-bottom: 10px;
  }
}

.teamwork .persons .person .team-social i:hover {
  color: #fff;
}

.footer {
  background: linear-gradient(45deg, rgba(0, 83, 132, 0.9) 45%, rgba(167, 211, 35, 0.9) 100%);
  color: #fff;
}

.footer .footer-content {
  width: 100%;
}

.footer .footer-content .section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .section-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.footer .footer-content .section-two .adresses {
  width: 40%;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .section-two .adresses {
    width: 100%;
  }
}

.footer .footer-content .section-two .adresses div {
  margin-bottom: 20px;
}

.footer .footer-content .section-two .adresses div:last-child {
  margin-bottom: 0;
}

.footer .footer-content .section-two .adresses div i {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 25px;
  vertical-align: top;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .section-two .adresses div i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    vertical-align: middle;
    font-size: 20px;
  }
}

.footer .footer-content .section-two .adresses div h6 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .section-two .adresses div h6 {
    font-size: 12px;
  }
}

.footer .footer-content .section-two .adresses .social {
  text-align: center;
}

.footer .footer-content .section-two .adresses .social .social-link {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #196390;
  display: inline-block;
  border-radius: 50%;
  margin-left: 20px;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .section-two .adresses .social .social-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
  }
}

.footer .footer-content .section-two .adresses .social .social-link i {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .section-two .adresses .social .social-link i {
    font-size: 15px;
    color: #7ed56f;
    border-radius: 50%;
  }
}

.footer .footer-content .section-two .adresses .social .social-link:hover i {
  color: #89BA4F;
}

.footer .footer-content .section-two .map {
  width: 55%;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .section-two .map {
    width: 100%;
    margin-top: 20px;
  }
}

.footer .footer-content .section-two .map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer .footer-content .end-footer {
  text-align: center;
  padding-bottom: 10px;
}

.footer .footer-content .end-footer p {
  font-size: 17px;
  margin-bottom: 10px;
}

.footer .footer-content .end-footer p:last-child {
  font-size: 15px;
}

.footer .footer-content .end-footer p a {
  color: #fff;
}

.footer .footer-content .end-footer p a:hover {
  color: #7ed56f;
}

@media screen and (max-width: 576px) {
  .footer .footer-content .end-footer p {
    font-size: 12px;
    line-height: 1.5;
  }
  .footer .footer-content .end-footer p:last-child {
    padding-bottom: 30px;
    font-size: 11px;
    color: #7ed56f;
  }
}
/*# sourceMappingURL=mainStyle.css.map */